@import '~antd/dist/antd.css';

.movie-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 1010px;
    height: auto;
    background: #FFFFFF;
}

.ant-input {
    margin: auto;
    display: flex;
    align-items: center;
    width: 938px;
    height: 40px;
}

.app-pagination {
    margin-bottom: 17px;
}

.buttons {
    display: flex;
    justify-content: center;
    border: none;
}

.app-search-field .ant-input {
    width: 938px;
    height: 40px;
}

.ant-tabs-nav-wrap {
    display: flex;
    justify-content: center;

}

.ant-tabs-top > .ant-tabs-nav::before {
    width: 120px;
    align-self: center;
    margin: auto;
}

