@import '~antd/dist/antd.css';

.movie-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 1010px;
    height: auto;
    background: #FFFFFF;
}

.button {
    border: none;
}

.ant-input {
    margin: auto;
    display: flex;
    align-items: center;
    width: 938px;
    height: 40px;
}

.app-pagination {
    margin-bottom: 17px;
}