@import '~antd/dist/antd.css';

.movie-title {
    display: flex;
    flex-direction: row;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    max-width: 210px;
}

.view {
    position: relative;
    display: flex;
    flex-direction: row;
    font-family: 'Inter';
    justify-content: space-between;
    width: 454px;
    height: 281px;
    background: #FFFFFF;
    list-style: none;
    margin: 18px 19px 18px 16px;
    box-shadow: 1px 2px 5px 5px #E5E5E5;
}

img {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 183px;
    height: 281px;
}

.description {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    box-sizing: border-box;
    width: 271px;
    padding: 12px 20px 0 20px;
}

.movie-genre {
    display: inline;
    width: 46px;
    height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    margin-right: 8px;
}

.ant-rate {
    position: absolute;
    width: 239px;
    height: 46px;
    right: 9px;
    bottom: 0;

}
.anticon {
    text-align: end;
    font-size: 16px;
}

.ant-progress {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    margin: 12px 9px auto auto;
   }
.ant-progress-circle.ant-progress-status-success .ant-progress-text {
    color: #111111;
}