@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
  font-family: 'Inter';
}
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px 'Inter', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #E5E5E5;
  color: #111111;
  width: 1010px;
  height: 1147px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}