@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
  font-family: 'Inter';
}
html,
body {

margin: auto;
  padding: 0;
}

body {
  font: 14px Inter sans-serif;
  line-height: 1.4em;
  background: #E5E5E5;
  color: #111111;
  width: auto;
  height: 1147px;
  margin: 0 auto;
}